/* styles.css */

/* Customize Swiper container */
.swiper-container {
    height: auto; /* Adjust the height as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  /* Customize Swiper slide */
  .swiper-slide {
    text-align: center;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Adjust Swiper navigation */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: red; /* Customize the color as needed */
    font-size: 25px !important;
    bottom: 20px !important;
  }


  /*@media only screen and (min-width: 310px) and (max-width: 650px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
}*/
.test {
  direction: rtl;
}