/* styles.css */

/* Customize Swiper container */
.swiper-container {
    height: auto; /* Adjust the height as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  /* Customize Swiper slide */
  .swiper-slide {
    text-align: center;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Adjust Swiper navigation */
  .swiper-button-next,
  .swiper-button-prev {
    color: #000; /* Customize the color as needed */
  }
